
<% var Today =new Date().toLocaleDateString("en-US",{"year": "numeric", "month":"long", "day":"2-digit"}); %>

</div>
    <div class="footer">
        <p><%=Today%> @ vikas rana</p>
    </div>
</body>
</html>